{% extends 'profile/partial/profile-base.html.twig' %}

{% block main_content %}
    <div class="row mb-5"> 
        <div class="col settings-wrapper__main-content-subtitle"> 
            Connections
        </div>
        <div class="col settings-wrapper__main-content_new-connection">
          <a class="btn btn-default" id="connections-modal" href="#" data-bs-toggle="modal" data-bs-target=".new-connection-modal">New connection</a>
        </div>
      </div>

      {% for connection in connections %}
      {% set iconPath = '/images/icons/' ~ connection.provider ~ '.svg' %}
        <div class="row mb-4">
          <div class="col connection">
            <img class="icon" src="{{ asset(iconPath) }}"></im>
            <div>
              {{ connection.provider|capitalize  }}  - {{ connection.identifier }}
            </div>
            
          </div>
        </div>
        {% endfor %}
      
      <div class="row"  style="margin-top: 100px; margin-bottom: 20px;">
        <div class="col settings-wrapper__main-content-subtitle"> 
          Account
        </div>
      </div>
      <div class="row">
        <div class="col">
          <i class="bi bi-envelope" style="margin-right: 10px;"></i> Email: {{ app.user.email }}
        </div>
      </div>
        
  {{ include('/profile/partial/connections-modal.html.twig') }}

{% endblock %}