{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

{{ form_start(registrationForm) }}
  <section class="registration-form">
    <div class="container">
      <div class="row justify-content-center">
          <div class="row align-items-center">
            <div class="col mt-4">
              <input type="text" name="{{ field_name(registrationForm.name)}}" class="form-control" placeholder="{{ field_label(registrationForm.name)}}">
              <span class="validation-error">
                {{ form_errors(registrationForm.name) }}
              </span>
            </div>
          </div>
           <div class="row align-items-center mt-4">
            <div class="col">
              <input type="email" name="{{ field_name(registrationForm.email) }}" class="form-control" placeholder="{{ field_label(registrationForm.email) }}" >
               <span class="validation-error">
                {{ form_errors(registrationForm.email) }}
              </span>
            </div>
          </div>
           <div class="row align-items-center mt-4">
            <div class="col">
              <input type="password" name="{{ field_name(registrationForm.plainPassword) }}" class="form-control" placeholder="{{ field_label(registrationForm.plainPassword) }}" >
               <span class="validation-error">
                {{ form_errors(registrationForm.plainPassword) }}
              </span>
            </div>
          </div>
          <div class="row justify-content-start mt-4">
            <div class="col">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" name="{{ field_name(registrationForm.agreeTerms) }}">
                  I Read and Accept <a href="#">Terms and Conditions</a>
                </label>
              </div>
              <button class="btn btn-primary mt-4">Register</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{ form_end(registrationForm) }}



{% endblock %}
